<configuration>
  <location path="server.js" overrideMode="Allow">
    
    <system.webServer>

      <handlers>
        <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
      </handlers>

      <!-- fix 'The iisnode module is unable to start the node.exe process' -->
      <iisnode
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
      loggingEnabled="false" /><!-- Disable logs -->

      <!-- fix '405 Method Not Allowed' -->
      <modules>
        <remove name="WebDAVModule"/>
      </modules>

    </system.webServer>

  </location>

  <system.webServer>

    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="iisstart.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="server.js" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="server">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>

</configuration> 